<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 [routerLink]="'/home'">SupportWell</h1>
        <span class="menu-spacer"></span>
        <div>

            <a mat-button [routerLink]="'/users'" routerLinkActive="router-link-active"> Users </a>
            <a mat-button [routerLink]="'/volunteer'" routerLinkActive="router-link-active"> Volunteer </a>
            <a mat-button [routerLink]="'/transport'" routerLinkActive="router-link-active"> Transport </a>
            <a mat-button [routerLink]="'/fixtures'" routerLinkActive="router-link-active"> Fixtures </a>
            <!-- <a mat-button [routerLink]="'/contacts'" style="float:right"> Account </a> -->

        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/users'"> Users </a>
            <a mat-list-item [routerLink]="'/pending'"> Pending Users</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 93vh;">
            <br>
            <div class="container-fluid">
                <h5>Pending Users</h5>
                <br>

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive-sm">
                                    <table class="table table-sm table-hover">
                                        <thead >
                                            <tr>
                                                <th style="color:#1A2857">First Name and Last Name</th>
                                                <th style="color:#1A2857">Approve</th>
                                            </tr>
                                        </thead>
                                        <tbody
                                            *ngFor="let item of users">
                                            <label hidden>{{ item.UserID }}</label>
                                            <tr>
                                                <td style="color:#1A2857">{{ item.UserFirstName }} {{ item.UserLastName }}</td>
                                                <td style="color:green; cursor: pointer;" (click)="updatePendingUser(item)"><i class="fas fa-check"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>