.mat-drawer-container {
    background-color: #fff;
    background-image: url('https://saintsdocs.idp-apps.com:8083/app/images/Aerial-photo-2017_incl-housesComp.jpg') ;
    background-size:cover;
}
.square {
    height: 25px;
    width: 30px;
    background-color: #cf202e;
    text-align:center;
  }
.card{
   color:rgba(26,40,87,0.9);
   
}
.toolbar{
    background-color:#1A2857;
}
.sidebar{
    background-color: #CECECE;
}
.row{
    padding-bottom:25px;
}
.container{
    padding-top:150px;
}

h5
{
    color:#1A2857;
}
h2{
    color:#1A2857;
}
element.style {
    float: right;
}
.envelope{
    color: #1A2857;
}
.envelope:hover{
    color: #475ca1;
}
a:hover {
    color: #C4C6C7;
    text-decoration: underline;
}
//rgb(224, 24, 55)
.card-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25px 25px;
    border-color: transparent transparent rgb(224, 24, 55) transparent;
}
.card-triangle:hover{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25px 25px;
    border-color: transparent transparent rgb(84, 24, 224) transparent;
}

.btnprimary{
    background-color: #1A2857;
    color:white
}

.btnprimary:hover{
    background-color: #313e68;
    color:white
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place front is invalid - may break your css so removed */  
    padding-top: 100px; /* Location of the box - don't know what this does?  If it is to move your modal down by 100px, then just change top below to 100px and remove this*/
    left: 0;
    right:0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9999; /* Sit on top - higher than any other z-index in your site*/
}