<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="exampleInputEmail1">Term</label>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose the Term</option>
                    <option *ngFor="let item of terms">{{item.Term}}</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="exampleInputEmail1">Date</label>
                <dx-date-box [value]="now" type="date">
                </dx-date-box>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <label for="exampleInputEmail1">Details</label>
            <textarea name="" class="form-control" id="" cols="105" rows="5"></textarea>
        </div>
    </div>
    <button class="btn btnprimary float-right">submit</button>
    <br>
    <br>
</div>