<h1 mat-dialog-title>Update Booking Slots for</h1>
<div mat-dialog-content>
    <label style="color:white"> Leavinig Time:</label>
    <input type="text" class="form-control" placeholder="07:00" [(ngModel)]="leaving">
    <br>
    <label style="color:white"> Arriving Time:</label>
    <input type="text" class="form-control" placeholder="09:00" [(ngModel)]="arriving">
    <br>
    <label style="color:white"> Slots</label>
    <select class="form-control form-control-sm" (change)="SlotChanged($event.target.value)">
        <option *ngFor="let item of slots" [value]="item.Slots">{{ item.Slots }}
        </option>
    </select>
</div>
<div mat-dialog-actions>
    <button class="btn btn-danger" (click)="onNoClick()">Cancel</button> &nbsp;&nbsp;
    <button class="btn btnprimary" (click)="add(leaving,arriving)">Add</button>
</div>