<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 [routerLink]="'/home'">SupportWell</h1>
        <span class="menu-spacer"></span>
        <div>

            <a mat-button [routerLink]="'/accounts'" routerLinkActive="router-link-active"> Users </a>
            <a mat-button [routerLink]="'/volunteer'" routerLinkActive="router-link-active"> Volunteer </a>
            <a mat-button [routerLink]="'/transport'" routerLinkActive="router-link-active"> Transport </a>
            <a mat-button [routerLink]="'/schedule'" routerLinkActive="router-link-active"> Fixtures </a>
            <!-- <a mat-button [routerLink]="'/contacts'" style="float:right"> Account </a> -->

        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/accounts'"> Add Users </a>
            <a mat-list-item [routerLink]="'/pending'"> Pending Users</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 93vh;">
            <br>
            <div class="container-fluid">
                <h5>User Management </h5>
                <br>

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive-sm">
                                    <table class="table table-sm table-hover">
                                        <thead>
                                            <tr>
                                                <th style="color:#1A2857">First Name</th>
                                                <th style="color:#1A2857">Last Name</th>
                                                <th style="color:#1A2857">Cellphone Number </th>
                                                <th style="color:#1A2857">Email Address </th>
                                                <th style="color:#1A2857">Password</th>
                                                <th style="color:#1A2857"></th>
                                                <th style="color:#1A2857"></th>
                                            </tr>
                                        </thead>
                                        <tbody
                                            *ngFor="let item of list | paginate: { itemsPerPage: 10, currentPage: p }">
                                            <tr>
                                                <td style="color:#1A2857">{{item.UserFirstName}}</td>
                                                <td style="color:#1A2857">{{item.UserLastName}}</td>
                                                <td style="color:#1A2857">{{item.UserCellPhone}}</td>
                                                <td style="color:#1A2857">{{item.UserEmailAddress}}</td>
                                                <td style="color:#1A2857">{{item.Password}}</td>
                                                <td class="envelope" style="cursor: pointer;" (click)="reset(item.UserCellPhone)"><i class="fas fa-envelope"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>