<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 [routerLink]="'/coach'">SupportWell</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/teams'" routerLinkActive="router-link-active"> Teams </a>
            <a mat-button [routerLink]="'/terms'" routerLinkActive="router-link-active"> Terms </a>
            <a mat-button [routerLink]="'/practice'" routerLinkActive="router-link-active"> Practice </a>
            <a mat-button [routerLink]="'/registers'" routerLinkActive="router-link-active"> Registers </a>
        </div>
        <span class="example-spacer"></span>
        <span flex></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">person</mat-icon>
        &nbsp;&nbsp;
        <span class="menu-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">exit_to_app
        </mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/teams'"> View My Teams </a>
            <a mat-list-item [routerLink]="'/terms'"> Edit My Teams </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 93vh;">
            <br>
            <div class="container-fluid">
                <h5>Team Management </h5>
                <div class="row">
                    <div class="col">
                        <br>
                        <button class="btn btnprimary" (click)="openConfirmDialog()">Add Team Member</button>
                        <br>
                        <br>
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-sm table-hover">
                                        <thead>
                                            <tr>
                                                <th>FirstName</th>
                                                <th>LastName</th>
                                                <th>Age</th>
                                                <th>Team</th>
                                                <th>Benched</th>
                                                <th>Starting Line</th>
                                                <th>Bench</th>
                                                <th>Starting</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let item of list">
                                            <tr>
                                                <td hidden>{{item.StudentID}}</td>
                                                <td>{{item.FirstName}}</td>
                                                <td>{{item.LastName}}</td>
                                                <td>{{item.Age}}</td>
                                                <td>{{item.Team}}</td>
                                                <td *ngIf="item.Benched === benched" style="color:#28a745;font-size: 18px;"> {{item.Benched}}</td>
                                                <td *ngIf="item.Benched !== benched" style="color:red;font-size: 18px;" >{{item.Benched}}</td>
                                                <td *ngIf="item.StartingLine === starting" style="color:red;font-size: 18px;">{{item.StartingLine}}</td>
                                                <td *ngIf="item.StartingLine !== starting" style="color:#28a745;font-size: 18px;">{{item.StartingLine}}</td>
                                                <td><button class="btn btn-info" (click)=" benchTeamMember(item.StudentID)"><i class="fas fa-chair"></i></button></td>
                                                <td><button class="btn btnprimary" (click)=" startingLine(item.StudentID)"><i class="fas fa-running"></i></button></td>
                                                <td><button class="btn btn-danger" (click)=" removePlayer(item.StudentID)"><i class="fas fa-trash-alt"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>