<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 [routerLink]="'/home'">SupportWell</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/users'" routerLinkActive="router-link-active"> Users </a>
            <a mat-button [routerLink]="'/volunteer'" routerLinkActive="router-link-active"> Volunteer </a>
            <a mat-button [routerLink]="'/transport'" routerLinkActive="router-link-active"> Transport </a>
            <a mat-button [routerLink]="'/schedule'" routerLinkActive="router-link-active"> Fixtures </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/schedule'"> Schedule </a>
            <a mat-list-item [routerLink]="'/fixtures'"> Fixture</a>
            <!-- <a mat-list-item [routerLink]="'/teams'"> Teams </a> -->
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 93vh;">
            <br>
            <div class="container-fluid">
                <h5>Event Schedule</h5>
                <br>

                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive-sm">
                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th style="color:#1A2857">EventDate</th>
                                                <th style="color:#1A2857">GameType</th>
                                                <th style="color:#1A2857">Opponent</th>
                                                <th style="color:#1A2857">VenueType </th>
                                            </tr>
                                        </thead>
                                        <tbody
                                            *ngFor="let item of info | paginate: { itemsPerPage: 10, currentPage: p }">
                                            <label hidden>{{item.EventID}}</label>
                                            <label hidden>{{item.VenueAddress}}</label>
                                            <label hidden>{{item.Lat}}</label>
                                            <label hidden>{{item.Long}}</label>
                                            <tr>
                                                <td style="color:#1A2857">{{item.EventDate |  date:'fullDate'}}</td>
                                                <td style="color:#1A2857">{{item.GameType}}</td>
                                                <td style="color:#1A2857">{{item.Opponent}}</td>
                                                <td style="color:#1A2857">{{item.VenueType}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>