<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 [routerLink]="'/coach'">SupportWell</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/teams'" routerLinkActive="router-link-active"> Teams </a>
            <a mat-button [routerLink]="'/terms'" routerLinkActive="router-link-active"> Terms </a>
            <a mat-button [routerLink]="'/practice'" routerLinkActive="router-link-active"> Practice </a>
            <a mat-button [routerLink]="'/registers'" routerLinkActive="router-link-active"> Registers </a>
        </div>
        <span class="example-spacer"></span>
        <span flex></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">person</mat-icon>
        &nbsp;&nbsp;
        <span class="menu-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">exit_to_app
        </mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/teams'"> Teams </a>
            <a mat-list-item [routerLink]="'/terms'"> Terms </a>
            <a mat-list-item [routerLink]="'/practice'"> Practice </a>
            <a mat-list-item [routerLink]="'/registers'"> Registers </a>
        </mat-nav-list>
        
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 93vh;">
            <br>
            <div class="container-fluid">
                <h5>Term Management</h5>
                <br>
                <button class="btn btnprimary" (click)="openModal()">Add Term Inforamtion</button>
                <br>
                <br>
                <div class="row">
                        <div class="col">
                            <div class="card" style="height:150px" style="cursor: pointer;">
                                <div class="card-body">
                                    <dx-scheduler [dataSource]="appointmentsData" [views]='["day","month"]' currentView="month"
                                        [currentDate]="currentDate" [startDayHour]="7" [height]="600">
                                    </dx-scheduler>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>