<div class="container-fluid">
    <br>
    <div class="form-group">
        <label for="exampleInputEmail1">Player</label>
        <select class="custom-select" id="inputGroupSelect01" (change)="PlayerfilterChanged($event.target.value)">
            <option selected>Select Player</option>
            <option *ngFor="let item of player" value="{{item.UserID}}" [value]="item.UserID">{{item.FirstName}} {{item.LastName}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Team</label>
        <select class="custom-select" id="inputGroupSelect01" (change)="TeamfilterChanged($event.target.value)">
            <option selected>Select Team</option>
            <option *ngFor="let item of team" value="{{item.TeamID}}" [value]="item.TeamID">{{item.Team}}</option>
        </select>
    </div>
    <button type="submit" class="btn btnprimary float-right" (click)="onConfirm()">Submit</button>
    <br>
    <br>
</div>