<div class="container-fluid">
    <div class="table-responsive">
        <br>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Time</th>
                    <th>VS</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of list">
                    <td>{{item.Team}}</td>
                    <td> {{item.FixtureFromTime}} - {{item.FixtureToTime}}</td>
                    <td>{{item.AwayTeam}}</td>
                    <td> {{item.Result}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="button" class="btn btnprimary float-right"
                (click)="bsModalRef.hide()">Close</button>
            <br>
        </div>
        <br>
    </div>
</div>