<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 [routerLink]="'/home'">SupportWell</h1>
        <span class="menu-spacer"></span>
        <div>

            <a mat-button [routerLink]="'/users'" routerLinkActive="router-link-active"> Users </a>
            <a mat-button [routerLink]="'/volunteer'" routerLinkActive="router-link-active"> Volunteer </a>
            <a mat-button [routerLink]="'/transport'" routerLinkActive="router-link-active"> Transport </a>
            <a mat-button [routerLink]="'/schedule'" routerLinkActive="router-link-active"> Fixtures </a>
            <!-- <a mat-button [routerLink]="'/contacts'" style="float:right"> Account </a> -->

        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item> Add Transport </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 93vh;">
            <br>
            <div class="container-fluid">
                <h5>Volunteer and Slots Management </h5>
                <br>
                <button class="btn btnprimary" (click)="open();">Add Transport</button>
                <br>
                <br>
                <div class="row">
                    <div class="col-4" *ngFor="let item of GroupedItems; let i = index">
                        <div class="card">
                            <div class="card-body">
                                <div hidden>{{ item.TrasportBookingUserID }}</div>
                                <div hidden>{{ item.TransportID }}</div>
                                <div class="row">
                                    <div class="col">
                                        <span style="display:inline-flex; width: 100%">
                                            <img *ngIf="item.Transport == 'Bus'" src="/assets/images/bus icon.svg"
                                                style="width:15px; height: 20px" />
                                            <img *ngIf="item.Transport == 'Car'" src="/assets/images/car icon.svg"
                                                style="width:15px; height: 20px" />
                                            &nbsp;
                                            <label style="font-size:14px; text-align:center; padding-top: 5px"
                                                color="primary">
                                                {{ item.Transport }}
                                            </label>
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <label style="font-size:12px; text-align:right; padding-top: 5px"
                                            color="primary">
                                            <!-- [ngClass]="item.BookedSpots === 1 ? 'dotlow' : '' item.BookedSpots === 3 ? 'dotmedium' " -->
                                            <span *ngIf="item.BookedSpots === 0" [ngClass]="'dotlow'"></span>
                                            <span *ngIf="item.BookedSpots === 1" [ngClass]="'dotlow'"></span>
                                            <span *ngIf="item.BookedSpots === 2" [ngClass]="'dotmedium'"></span>
                                            <span *ngIf="item.BookedSpots === 3" [ngClass]="'dotfull'"></span>
                                            <span *ngIf="item.BookedSpots === 4" [ngClass]="'dotfull'"></span>
                                            <!-- <span *ngIf="item.BookedSpots === 5" [ngClass]="'dotfull'"></span>
                                        <span *ngIf="item.BookedSpots === 6" [ngClass]="'dotfull'"></span> -->
                                            {{ item.BookedSpots }} / {{ item.Slots }}
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center">
                                        <label style="font-size:12px; text-align:center; padding-top: 5px"
                                            color="primary">
                                            Leaving at: {{ item.Leaving }}
                                        </label>
                                    </div>
                                    <div class="col text-center">
                                        <label style="font-size:12px; text-align:center; padding-top: 5px"
                                            color="primary">
                                            Arriving back at: {{ item.Arriving }}
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4" class="text-center" style="margin-bottom:-10px"
                                        *ngFor="let items of item.GroupedOrder; trackBy: trackByFn">
                                        <div class="col" >
                                            <!-- <label style="font-size:12px; text-align:center; "
                                                [ngClass]="items.UserFirstName + ' ' + items.UserLastName === FullName ? 'loggedInUser': ''">
                                                {{ items.FirstName }} {{ items.LastName }}
                                            </label> -->
                                            <label style="font-size:12px; text-align:center; "
                                            >
                                                {{ items.FirstName }} {{ items.LastName }}
                                            </label>
                                        </div>
                                        <br />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                    </div>
                                    <div class="col">
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-secondary btn-sm" style="width:70px;height:28px"
                                            (click)="openDialog(item.BookingID,item.BookingName,item.BookingSpots)">
                                            Edit Slot</button>
                                        <!-- <button class="btn btn-secondary btn-sm" style="width:70px;height:28px"
                                            (click)="openDialog()">
                                            Edit Slot</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>