.mat-drawer-container {
  background-color: #fff;
  background-image: url('https://saintsdocs.idp-apps.com:8083/app/images/Aerial-photo-2017_incl-housesComp.jpg') ;
  background-size:cover;
}
.square {
  height: 25px;
  width: 30px;
  background-color: #cf202e;
  text-align:center;
}
.card{
 color:rgba(26,40,87,0.9);
 
}
.toolbar{
  background-color:#1A2857;
}
.sidebar{
  background-color: #CECECE;
}
.row{
  padding-bottom:25px;
}
.container{
  padding-top:150px;
}

h5
{
  color:#1A2857;
}
h2{
  color:#1A2857;
}
element.style {
  float: right;
}
a:hover {
  color: #C4C6C7;
  text-decoration: underline;
}
//rgb(224, 24, 55)
.card-triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 25px 25px;
  border-color: transparent transparent rgb(224, 24, 55) transparent;
}
.card-triangle:hover{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 25px 25px;
  border-color: transparent transparent rgb(84, 24, 224) transparent;
}
.loggedInUser {
  color: red;
}

.serving-card {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  line-height: 0.5 !important;
      padding-top: 30px !important;
}
.dotlow {
  height: 10px !important;
  width: 10px !important;
  background-color: red !important;
  border-radius: 50% !important;
  display: inline-block !important;
}
.dotmedium {
  height: 10px !important;
  width: 10px !important;
  background-color: orange !important;
  border-radius: 50% !important;
  display: inline-block !important;
}
.dotfull {
  height: 10px !important;
  width: 10px !important;
  background-color: green !important;
  border-radius: 50% !important;
  display: inline-block !important;
}
.item-select .input-label{
  width:80%;
}

.btnprimary{
  background-color: #1A2857;
  color:white
}

.btnprimary:hover{
  background-color: #313e68;
  color:white
}