<div class="container" id="body">
    <div style="padding-top:150px;padding-left:250px">
        <div class="card" style="width: 40rem;background-color: rgb(250, 250, 250);">
            <div class="row">
                <div class="col-4"></div>
                <div class="col">
                    <img src="../../assets/images/Ball Moving Faster Ball.gif" class="card-img-top"
                        style="width:150px;height:auto; text-align:center">
                </div>
                <div class="col"></div>
            </div>
            
                <div class="card-body">
                    <h4 class="card-title text-center">St Stithians</h4>
                    <h4 class="card-title text-center">Basketball Supporters Club</h4>
                    <label>
                        Cellphone Number
                        <i style="color:red">*</i>
                    </label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Cellphone Number" aria-label="usernames"
                            aria-describedby="basic-addon1" [(ngModel)]="user.UserCellPhone" />
                    </div>
                    <label style="color:red">Please do not use '+' in your cellphone number when requesting forgot
                        password.</label>
                    <button mat-raised-button class="btnprimary float-right" (click)="reset(user)">Request</button>
                    <button mat-raised-button class="btnprimary "
                        (click)="login()">Back</button>
                    <br>
                    <br>

                </div>
            
        </div>
    </div>
</div>