<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 [routerLink]="'/home'">SupportWell</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/users'" routerLinkActive="router-link-active"> Users </a>
            <a mat-button [routerLink]="'/volunteer'" routerLinkActive="router-link-active"> Volunteer </a>
            <a mat-button [routerLink]="'/transport'" routerLinkActive="router-link-active"> Transport </a>
            <a mat-button [routerLink]="'/schedule'" routerLinkActive="router-link-active"> Fixtures </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/volunteer'"> Volunteer </a>
            <a mat-list-item [routerLink]="'/transport'"> Transport </a>
            <a mat-list-item [routerLink]="'/schedule'"> Fixtures </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 93vh;">
            <br>
            <div class="container-fluid">
                <h5>WELCOME TO </h5>
                <h2>St Stithians Basketball Supporters Club</h2>
                <br>
                <div class="row">

                    <div class="col-3">
                        <div class="card" style="height:150px" [routerLink]="'/users'" style="cursor: pointer;">
                            <div class="card-body">
                                <span>
                                    <div class="square" style=" float:left;">UM</div>

                                    <p class="card-text">&nbsp; <b>User</b> Management:</p>
                                </span>
                                <p style="text-align:center">Admins on the System will be able to see who has Registered
                                    on the system</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="height:150px" style="cursor: pointer;" [routerLink]="'/volunteer'"> 
                            <div class="card-body">
                                <span>
                                    <div class="square" style=" float:left;">VM</div>
                                    <p class="card-text">&nbsp;<b>Volunteer</b> Management:</p>
                                </span>
                                <p style="text-align:center">Admins created and manages volunteering slots for events
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="height:150px" style="cursor: pointer;" [routerLink]="'/transport'">
                            <div class="card-body">
                                <span>
                                    <div class="square" style=" float:left;">TM</div>
                                    <p class="card-text">&nbsp;<b>Transport</b> Management:</p>
                                </span>
                                <p style="text-align:center">Admins created and manages Transport slots for events</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="height:150px" style="cursor: pointer;" [routerLink]="'/schedule'">
                            <div class="card-body">
                                <span>
                                    <div class="square" style=" float:left;">CF</div>
                                    <p class="card-text">&nbsp;<b>Fixture</b> Management:</p>
                                </span>
                                <p style="text-align:center">Admins created and manages Fixtures for Games and
                                    Tournaments</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>