.mat-drawer-container {
    background-color: #fff;
    background-image: url('https://saintsdocs.idp-apps.com:8083/app/images/Aerial-photo-2017_incl-housesComp.jpg') ;
    background-size:cover;
}
.square {
    height: 25px;
    width: 30px;
    background-color: #cf202e;
    text-align:center;
  }
.card{
    background-color:rgba(26,40,87,0.7);
}
.toolbar{
    background-color:#1A2857;
}
.sidebar{
    background-color: #CECECE;
}
.row{
    padding-bottom:25px;
}
.container{
    padding-top:150px;
}
h5
{
    color:#1A2857;
}
h2{
    color:#1A2857;
}
element.style {
    float: right;
}
a:hover {
    color: #C4C6C7;
    text-decoration: underline;
}
//rgb(224, 24, 55)
.card-triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25px 25px;
    border-color: transparent transparent rgb(224, 24, 55) transparent;
}
.card-triangle:hover{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 25px 25px;
    border-color: transparent transparent rgb(84, 24, 224) transparent;
}