<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h1 [routerLink]="'/coach'">SupportWell</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/teams'" routerLinkActive="router-link-active"> Teams </a>
            <a mat-button [routerLink]="'/terms'" routerLinkActive="router-link-active"> Terms </a>
            <a mat-button [routerLink]="'/practice'" routerLinkActive="router-link-active"> Practice </a>
            <a mat-button [routerLink]="'/registers'" routerLinkActive="router-link-active"> Registers </a>
        </div>
        <span class="example-spacer"></span>
        <span flex></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">person</mat-icon>
        &nbsp;&nbsp;
        <span class="menu-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">exit_to_app
        </mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/teams'"> Teams </a>
            <a mat-list-item [routerLink]="'/terms'"> Terms </a>
            <a mat-list-item [routerLink]="'/practice'"> Practice </a>
            <a mat-list-item [routerLink]="'/registers'"> Registers </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 93vh;">
            <br>
            <div class="container-fluid">
                <h2>Register Management </h2>
                <br>
                <div class="row">

                    <div class="col-3">
                        <div class="card" style="height:150px" (click)="OpenPracticeModal()" style="cursor: pointer;">
                            <div class="card-body">
                                <span>
                                    <div class="square" style=" float:left;">PR</div>

                                    <p class="card-text">&nbsp; <b>Practice</b> Register:</p>
                                </span>
                                <p>Take a register for practice sessions</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card" style="height:150px" style="cursor: pointer;" (click)="OpenMatchModal()" >
                            <div class="card-body">
                                <span>
                                    <div class="square" style=" float:left;">GM</div>
                                    <p class="card-text">&nbsp;<b>Game </b> Register:</p>
                                </span>
                                <p>Take a register for matches
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>