<h1 mat-dialog-title>Update Booking Slots for</h1>
<div mat-dialog-content>
    <label style="color:white"> Serve Type</label>
    <select class="form-control form-control-sm" (change)="TypeChanged($event.target.value)">
        <option *ngFor="let item of categoryList" [value]="item.CategoryName"
            [selected]="item.CategoryName === ServeType">{{ item.CategoryName }}</option>
    </select>
    <br>
    <label style="color:white"> Slots</label>
    <select class="form-control form-control-sm" (change)="SlotChanged($event.target.value)">
        <option *ngFor="let item of slots" [value]="item.Slots" [selected]="item.Slots === Slots">{{ item.Slots }}
        </option>
    </select>
    <br>
</div>
<div mat-dialog-actions>
    <button class="btn btn-danger" (click)="onNoClick()">Cancel</button> &nbsp;&nbsp;
    <button class="btn btnprimary"  (click)="Update(StartTime)">Update</button>
</div>