/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~ngx-smart-modal/ngx-smart-modal";


.btnprimary{
    background-color:#1A2857;
    color: white;
}

.btnprimary:hover{
    background-color:#576696;
    color: white;
    
}
h4{
    color:#1A2857;
}
.forgotpassword{
    font-size:12px;
    cursor:pointer;
    color:#1A2857;
}
// body{
//     background-image: url('https://saintsdocs.idp-apps.com:8083/app/images/Aerial-photo-2017_incl-housesComp.jpg') ;
//     background-size:cover;
// }