<div class="container" id="body">
    <div style="padding-top:50px;padding-left:250px">
        <div class="card" style="width: 40rem;background-color: rgb(250, 250, 250);">
            <form [formGroup]="registerForm">
                <div class="card-body">
                        <h4 class="card-title text-center">Register for</h4>
                    <h4 class="card-title text-center">St Stithians</h4>
                    <h4 class="card-title text-center">Basketball Supporters Club</h4>
                    <div style="padding-top: 10px">
                        <label>First Name <i style="color:red">*</i></label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="First Name" aria-label="Password"
                                aria-describedby="basic-addon1" formControlName="firstname">
                        </div>
                        <div class="error-message">
                            <ng-container *ngFor="let error of error_messages.firstname">
                                <div class="error-message"
                                    *ngIf="registerForm.get('firstname').hasError(error.type) && (registerForm.get('firstname').dirty || registerForm.get('firstname').touched)">
                                    {{error.message}}
                                </div>
                            </ng-container>
                        </div>
                        <label>Last Name <i style="color:red">*</i></label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Last Name" aria-label="Password"
                                aria-describedby="basic-addon1" formControlName="lastname">
                        </div>
                        <div class="error-message">
                            <ng-container *ngFor="let error of error_messages.lastname">
                                <div class="error-message"
                                    *ngIf="registerForm.get('lastname').hasError(error.type) && (registerForm.get('lastname').dirty || registerForm.get('lastname').touched)">
                                    {{error.message}}
                                </div>
                            </ng-container>
                        </div>
                        <label>Email Address</label>
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Email Address" aria-label="Password"
                                aria-describedby="basic-addon1" formControlName="email">
                        </div>
                        <div class="error-message">
                            <ng-container *ngFor="let error of error_messages.email">
                                <div class="error-message"
                                    *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                                    {{error.message}}
                                </div>
                            </ng-container>
                        </div>
                        <label>Cellphone Number <i style="color:red">*</i></label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Cellphone Number" aria-label="Password"
                                aria-describedby="basic-addon1" formControlName="username">
                        </div>
                        <div class="error-message">
                            <ng-container *ngFor="let error of error_messages.username">
                                <div class="error-message"
                                    *ngIf="registerForm.get('username').hasError(error.type) && (registerForm.get('username').dirty || registerForm.get('username').touched)">
                                    {{error.message}}
                                </div>
                            </ng-container>
                        </div>
                        <label>Password <i style="color:red">*</i></label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                                aria-describedby="basic-addon1" formControlName="password">
                        </div>
                        <div class="error-message">
                            <ng-container *ngFor="let error of error_messages.password">
                                <div class="error-message"
                                    *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                                    {{error.message}}
                                </div>
                            </ng-container>
                        </div>
                        <label>Confirm Password <i style="color:red">*</i></label>
                        <div class="form-group mb-3">
                            <input type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                                class="form-control" />

                        </div>
                        <br>
                        <button mat-raised-button class="btnprimary float-right" (click)="register()">Register</button>
                        <button mat-raised-button class="btnprimary " (click)="login()">Login</button>
                        <br>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>