<div class="container" id="body">
    <div style="padding-top:150px;padding-left:250px">
        <div class="card" style="width: 40rem;background-color: rgb(250, 250, 250);">
            <div class="row">
                <div class="col-4"></div>
                <div class="col">
                    <img src="../../assets/images/logo_120.png" alt="SupportWell">
                </div>
                <div class="col"></div>
            </div>
            <form [formGroup]="loginForm">
                <div class="card-body">
                    <h4 class="card-title text-center">SupportWell</h4>
                    <label>
                        Cellphone Number
                        <i style="color:red">*</i>
                    </label>
                    <div class="input-group mb-3">
                        <input class="input100" type="text" aria-label="usernames" aria-describedby="basic-addon1" formControlName="usernames" [(ngModel)]="usernames">
						<span class="focus-input100" data-placeholder="Username"></span>
                    </div>
                    <div class="error-message">
                        <ng-container *ngFor="let error of error_messages.usernames">
                            <div class="error-message"
                                *ngIf="loginForm.get('usernames').hasError(error.type) && (loginForm.get('usernames').dirty || loginForm.get('usernames').touched)">
                                {{error.message}}
                            </div>
                        </ng-container>
                    </div>
                    <label>
                        Password
                        <i style="color:red">*</i>
                    </label>
                    <div class="input-group mb-3">
                        <input class="input100" type="password" aria-label="password" aria-describedby="basic-addon2" formControlName="password" [(ngModel)]="password">
                        <span class="focus-input100" data-placeholder="Password"></span>
                    </div>
                    <div class="error-message">
                        <ng-container *ngFor="let error of error_messages.password">
                            <div class="error-message"
                                *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                                {{error.message}}
                            </div>
                        </ng-container>
                    </div>
                    <label for="forgot password" class="forgotpassword float-right" (click)="forgotpassword()">Forgot
                        Password?</label>
                    <br>
                    <br>
                    <button mat-raised-button class="btnprimary" (click)="register()">Register</button>
                    <button mat-raised-button class="btnprimary float-right"
                        (click)="login(usernames,password)">Login</button>
                    <br>
                    <br>
                    <label for="forgot password" class="forgotpassword float-left" data-toggle="modal"
                        data-target="#exampleModal">Privacy Policy</label>
                    <label for="forgot password" class="forgotpassword float-right" data-toggle="modal"
                        data-target="#exampleModal1">More Information</label>
                </div>
            </form>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Privacy Policy</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                This application is only accessible by registered users from the Saints Basketball
                                Supporters Club, it's members, and committee.
                            </p>
                            <p>
                                Limited personal information is collected as per your profile, and volunteer behaviour.
                                This information is collected for your involvement in Saints Basketball Supporter Club
                                events only.
                            </p>
                            <p>
                                For the purpose of the Protection of Personal Information Act, 4 of 2013 ('the Act'),
                                the operator is Insight Driven People Proprietary Limited operating as idp-apps.com. All
                                information collected will be used in compliance with 'the Act' including the removal of
                                all personal information from the app and it's database at the end of each season.
                            </p>
                            <p>
                                We are completely committed, and you have our absolute assurance that no information
                                collected will be used for any purpose other than the functioning and your use of the
                                application, and will under no circumstances be shared with any parties outside of the
                                users of the SBSC Volunteer App.
                            </p> <br>
                            <p>
                                Our nominated Information Officer for the purposes of the act is Stephan Nothnagel.
                                Questions, comments and requests regarding this privacy policy are welcomed and should
                                be addressed to <a href="mailto:SBSC@idp-apps.com?Subject=VolenteerWell" target="_top"
                                    style="color:red">SBSC@idp-apps.com</a>

                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">More Information</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                This application is the initiative of the Saints Basketball Supporters Club. Its main
                                purpose is to make it easier for volunteers to book times to braai and serve at our home
                                events, and to assist in coordination and help ensure that all time slots are filled.
                            </p>
                            <p>
                                We trust that this app will bring clarity to users and make pertinent information easily
                                available.
                            </p>
                            <p>
                                This week we are piloting the Saints Basketball Supporters Club app. The developers of
                                this app (idp-apps.com) are also developers of the Saints Document Portal as well as
                                BoardWell, which is used in the St Stithians boarding houses.
                            </p>
                            <p>
                                We aim to add new features to this app and continuously improve user experience. This is
                                only possible with your feedback. Upcoming features include: the ability to coordinate
                                transport for away games, team lists maintained by coaches, and timeous game results.
                            </p>
                            <p>
                                Please send any comments and/or suggestions to:
                                <a href="mailto:SBSC@idp-apps.com?Subject=VolenteerWell" target="_top"
                                    style="color:red">SBSC@idp-apps.com</a>

                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>